server:
  port: 8081

spring:
  application:
    name: api-gateway
  cache:
    type: caffeine

  cloud:
    loadbalancer:
      cache:
        enabled: true
        caffeine:
          spec: maximumSize=200,expireAfterWrite=10s
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - http://localhost:4200
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: agra-backend
          uri: lb://agra-backend     # <<< FIXED
          predicates:
            - Path=/api/**,/ws/**,/ws-sockjs/**   # <<< FIXED
          filters:
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_FIRST
            - PreserveHostHeader

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true                # <<< ENSURE THESE
    register-with-eureka: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
